/**************************************** article content modal styles ****************************************/
.user-panel-section {
    display: flex;
    flex-direction: column;
    background: var(--primary-clr-5);
    padding: 0.475rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
    font-family: var(--ff-Unna);
    font-size: var(--f-sz);
}

.user-panel-section>* {
    margin: 5px;
}

.post-article-header>span {
    font-size: var(--f-sz);
}


.post-article-header,
.post-article-footer {
    text-align: center;
    color: var(--perspective-clr-1);
    background: var(--perspective-clr-3);
    border-radius: var(--border-radius);
    padding: .275rem;
}


.content {
    border: 2px solid var(--perspective-clr-3);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: .275rem;
}

.txt-comment {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 90px;
    margin: .575rem auto;
    padding: .675rem;
    grid-column: 1 / -1;
    grid-row: 1;
}

.post-article-input {
    border: 2px solid var(--perspective-clr-3);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: .275rem;
}

.blog-header .title,
.article-item .title {
    color: var(--perspective-aclr-1);
    text-shadow: 1px 1px var(--perspective-clr-2);
}

.date {
    color: var(--perspective-clr-3);
}

.article-info-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
}

.article-info-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.imagepreview {
    border: 2px solid var(--perspective-clr-3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: .275rem;
    text-align: center;
    width: 200px;
    height: 200px;
}

.image {
    padding: .275rem;
    border: 2px solid var(--perspective-clr-3);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}


.base-modal {
    position: absolute;
    z-index: 100;
}

.blog-image-err {
    height: 250px;
    border: none;
    box-shadow: none;
}

.submit-blog {
    background: var(--primary-clr-5);
    padding: 10px 10px;
}

.submit-comment {
    padding: 10px 0;
}

.add-comment {
    display: inline;
    width: 70px;
    padding: .475rem;
    grid-column: 2;
    grid-row: 2;
    justify-self: right;
    margin: .5rem;
}

.ratings {
    padding-left: .675rem;
    display: inline;
    grid-column: 1;
    grid-row: 2;
    align-self: center;
}

.comment-ctrls {
    grid-column: 1 / -1;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.add-article {
    width: 100%;
}

.left-side-panel {
    cursor: pointer;
    color: var(--perspective-clr-3);
    background: var(--primary-clr-5);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 25vw;
    height: -moz-fit-content;
    height: fit-content
}

.article-item:hover {
    background-color: rgba(206, 189, 178, 0.6)
}

.article-item.expanded:hover {
    background-color: initial;
}

.article-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.expanded:hover {
    background: var(--perspective-clr-2);
}

.article-item {
    padding: 10px 0px;
}

.article-item:nth-child(1n) {
    border-bottom: 3px dotted var(--perspective-clr-3);
}

.article-item:last-child {
    border-bottom: none;
}

.expanded {
    grid-row: span 2;
}

.user-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-controls button:disabled {
    display: none !important;
}

.user-controls .left {
    float: left;
}

.comment-button {
    cursor: pointer;
    float: right;
    margin-right: 10px;
}


/******************************************** body/img ********************************************/
.blogImg {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border: 1px outset var(--primary-clr-2);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 950px;
    max-height: 950px;
}

/******************************************** blog-section ********************************************/
#post-section {
    display: flex;
    flex-flow: column;
    border: 2px inset var(--primary-clr-2);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background: var(--primary-clr-5);
    font-family: var(--ff-Unna);
    height: fit-content;
    height: -moz-fit-content;
}

.blog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.article-content {
    display: flex;
    flex-flow: column wrap;
    border-top: 3px dotted var(--primary-clr-2);
    padding: .75rem .275rem;
    color: var(--perspective-clr-3);
    text-align: initial;
}


.article-section {
    gap: 10px 20px;
    height: auto;
    padding: 1rem;
    text-align: center;
}

.blog-section {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 20px 30px;
    margin: 0 20px;
    padding: 1.5rem 0;
    justify-items: center;
}

.comment-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr;
    color: var(--perspective-clr-3);
}

.add-btn {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0;
    align-items: end;
    cursor: pointer;
    transition: all ease-in-out 3s;
}