/**************************************** css variables ****************************************/

:root {
  --primary-clr-1: #fff;
  --primary-clr-2: #f4f9f9;
  --primary-clr-3: #7b93c1;
  --primary-clr-4: #000;
  --primary-clr-5: #fcf5f0;
  --primary-clr-6: #cd9a45;
  --accent-clr-1: #f20ad5;
  --accent-clr-2: #d861d8;
  --border-radius: 8px;
  --border: 1.5px inset #cd9a45;
  --box-shadow: 5px 5px 6px hsla(218,31%,80%,0.6);
  --background-clr: rgba(0, 0, 0, 0.4);
  --ff-Unna: Unna;
  --ff-Unna-b: Bold;
  --ff-Unna-i: Italic;
  --f-sz: calc(14px + (26 - 14) * ((100vw - 400px) / (940 - 400)));
  --transition: all ease 1s;
  --opacity-1: .1;
  --opacity-2: .2; 
  --opacity-3: .3; 
  --opacity-4: .4; 
  --opacity-5: .5;
  --opacity-6: .6;
  --opacity-7: .7;
  --opacity-8: .8;
  --opacity-9: .9;
  
}
/**************************************** imported fonts ****************************************/


/* Webfont: Unna-Bold */
@font-face {
  font-family: './Unna';
  src: url('./Unna-Bold.eot');
  /* IE9 Compat Modes */
  src: url('./Unna-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./Unna-Bold.woff') format('woff'),
    /* Modern Browsers */
    url('./Unna-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./Unna-Bold.svg#Unna-Bold') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Webfont: Unna-BoldItalic */
@font-face {
  font-family: './Unna';
  src: url('./Unna-BoldItalic.eot');
  /* IE9 Compat Modes */
  src: url('./Unna-BoldItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./Unna-BoldItalic.woff') format('woff'),
    /* Modern Browsers */
    url('./Unna-BoldItalic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./Unna-BoldItalic.svg#Unna-BoldItalic') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Webfont: Unna-Italic */
@font-face {
  font-family: './Unna';
  src: url('./Unna-Italic.eot');
  /* IE9 Compat Modes */
  src: url('./Unna-Italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./Unna-Italic.woff') format('woff'),
    /* Modern Browsers */
    url('./Unna-Italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./Unna-Italic.svg#Unna-Italic') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Unna-Regular */
@font-face {
  font-family: './Unna';
  src: url('./Unna-Regular.eot');
  /* IE9 Compat Modes */
  src: url('./Unna-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./Unna-Regular.woff') format('woff'),
    /* Modern Browsers */
    url('./Unna-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./Unna-Regular.svg#Unna-Regular') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/**************************************** global styles ****************************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links a:hover{
  color: var(--background-clr);
  transition: var(--transition);
}

body {
    background: var(--primary-clr-2);
    font-size: var(--f-sz);
    font-family: Unna, Goergia, "Avenir Book", "Trebuchet MS", Arial, sans-serif;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
}

/**************************************** header styles ****************************************/

.site-header {
  display: flex;
  flex-direction:row;
  max-width: 100vw;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
/*   background: red; */
}
.nav a {
  display: flex;
  color: var(--primary-clr-3);
  text-align: center;
  text-decoration: none;
}
.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
/*   background: blue; */
}
.site-nav {
  display: flex;
  list-style: none;
}
.site-nav li{
  margin:0  15px;
  padding: 0 10px;
}
.logo {
  width: 80px;
  height: 80px;
  padding: .825rem;
  margin: 0 10px 0 0;
}
/**************************************** main styles ****************************************/

.hero-section {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  width: 90vw;
  height: 28vh;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.hero-text {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 28vh;
  z-index: 1;
  font-style: var(--ff-Unna-i);
  font-size: 28px;
  color: var(--primary-clr-1);
  background: var(--background-clr);
  box-sizing: border-box;
}
.hero-img {
  display: flex;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: inherit;
  align-items: center;
  justify-content: center;
  object-fit: center;
}
/**************************************** contact form styles ****************************************/
.contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: .825rem;
  z-index: 2;
}
button.contact {
  left: 38%;
  top: 30%;
  max-width: 100%;
  width: 23%;
  border: 2px solid var(--accent-clr-1);
  font-family: var(--ff-Unna);
  font-size: 26px;
  color: var(--primary-clr-1);
  border-radius: var(--border-radius);
  background: var(--accent-clr-1);
  transition: var(--transition);
}
.contact-btn  {
  position: absolute;
  z-index: 4;
  padding: 0.275rem;
  background: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  top: 85%;
  text-transform: capitalize;
  max-width: 100vw;
  width: 90%;
  height: auto;
  padding: 1.5rem;
  box-shadow: 0 4px 8px 0 tan;
 
  transition: all ease-in-out 1ms;
  
}
.contact-btn:hover{
  background: var(--primary-clr-6);
  box-shadow: 0 8px 16px 0 tan;
  
}

.contact:hover {
  background: var(--accent-clr-2)
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  position: sticky;
  background: rgba(0, 0, 0, 0.4);
  top: 0%;
  left: 0%;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width: 50%;
  height: 100%;
  padding: 1.5rem;
  margin: 2rem;
  position: absolute;
  top: 0%;
  left: 30%;
  background: var(--primary-clr-5);
  border: var(--border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
.contact-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  max-width: 100vw;
  width: 30%;
  margin: 1.5rem;
  font-family: var(--ff-Unna);
  text-transform: capitalize;
  color: var(--primary-clr-3);
  position: relative;
  right: 30%;
  text-shadow: 2px .5px 1px  #333;
}
.contact-label:hover {
  text-shadow: 4px 1px 2px #333;
}
.contact-input {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-family: var(--ff-Unna);
  border: var(--border);
  box-shadow: 0 4px 8px 0 tan;
  border-radius: var(--border-radius);
  transition: all ease-in-out 1ms;
  padding: .75rem;
  cursor: pointer;
  max-width: 100vw;
  width: 25vw;
  position: absolute;
  left: 100%;
}
.contact-fields {
  position: absolute;
  top: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  width: 90%;
  padding: 1rem;
  margin-top: 2rem;
/*   background: var(--primary-clr-6); */
}

.contact-input:hover {
  box-shadow: 0 8px 16px 0 tan;
}

.form-legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: absolute;
  max-width: 100vw;
  width: 50vw;
  height: auto;
  top: 2%;
  z-index: 7;
  padding: .5rem;
}
.form-logo {  
  width: 50px;
  height: 50px;
  background: #333;
  padding: 0.275rem;
  border: 1px solid #f0fafc;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.form-logo:hover{
  box-shadow: 10px 10px 16px hsla(218,31%,80%,0.6);
}
.company-number,
.company-email,
.company-website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  width: 50vw;
  color: var(--accent-clr-1);
  padding: .1rem;
}

/**************************************** article styles ****************************************/

.intro {
  display: grid;
  grid-template-areas:
  "links textContent"
  "gallery gallery";
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(3,auto);
  grid-gap: 20px 10px;
  max-width: 100%;
  width: 90vw;
  height: auto;
  justify-items: center;
  margin: 0 auto;
  padding: 1rem 0;
}
.article-content {
  grid-area: textContent;
  width: 100%;
}
.intro-content {
  line-height: 1.5;
  padding: 1rem 0;
}
.links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width:100%;
  height: auto;
  text-decoration: none;
  padding: 1rem 0;
  color: #f20ad5;
} 
/******************** show time items styles ********************/
.gallery.show-time-items {
  grid-area: gallery;
  width: 50vw;
  margin: 0 auto;
  transition: var(--transition)
}
.gallery.show-time-items:hover {
  background: var(--primary-clr-6)
}
.show-time-items {
  justify-content: center;
  align-items: center;
  background: var(--primary-clr-5);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: .5rem 0;
}
.show-time-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.show-time-img {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.show-time-desc {
  font-size: var(--f-sz);
  text-align: center;
  padding: 1rem;
}

/**************************************** footer styles ****************************************/

.footer-section {
  display:flex;
  position: sticky;
  bottom: 0%;
  flex-direction: column;
  max-width: 100vw;
  width: 100vw;
  background: var(--primary-clr-3);
  justify-content: center;
}
.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
}
footer a {
  color: var(--primary-clr-1);
  text-decoration: none;
}

.footer-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  max-width: 100%;
  width: 100%;
  padding: .2rem;
}
.footer-nav li a img {
  max-width: 100%;
  width: 50px;
  height: 50px;
  margin: 0 40px;
}
.contact-info {
  display: flex;
  justify-content: center;
  padding: .25rem;
  margin: .25rem 0;
  color: var(--primary-clr-1);
}

.company {
  color: var(--accent-clr-1);
}

/**************************************** global styles ****************************************/
/**************************************** global styles ****************************************/
/**************************************** global styles ****************************************/
/**************************************** global styles ****************************************/
/**************************************** global styles ****************************************/
/**************************************** global styles ****************************************/
/**************************************** global styles ****************************************/


