$lightblue: #add8e6;
$aliceblue: #f0f8ff;
$white: #fff;
$black: #000;
$yellow: #ffff00;
$navyblue: #000080;
$red: #ff0000;
$green: #008000;
$purple: #800080;
$gray: #808080;
$brown: #a52a2a;
$tan: #d2b48c;
$orange: #ffa500;
$magenta: #ff00ff;
$cyan: #00ffff;
$background: linear-gradient(to bottom, $lightblue, $aliceblue) no-repeat;